language: go
go_import_path: github.com/ethereum/go-ethereum
sudo: false
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      go: 1.9.x
      script:
        - sudo -E apt-add-repository -y "ppa:chris-lea/libsodium"
        - sudo apt-get update
        - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse libdb-dev libleveldb-dev zlib1g-dev libtinfo-dev libsodium-dev
        - sudo cp /usr/lib/x86_64-linux-gnu/libsodium.so.13 /usr/lib/x86_64-linux-gnu/libsodium.so.18
        - sudo modprobe fuse
        - sudo chmod 666 /dev/fuse
        - sudo chown root:$USER /etc/fuse.conf
        - sudo ./build/install-constellation-linux.sh
        - export PATH=$PATH:$(pwd)/constellation-0.3.2-ubuntu1604
        - go run build/ci.go install
        - go run build/ci.go test -coverage

    # These are the latest Go versions.
    - os: linux
      dist: trusty
      sudo: required
      go: 1.10.x
      script:
        - sudo -E apt-add-repository -y "ppa:chris-lea/libsodium"
        - sudo apt-get update
        - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install fuse libdb-dev libleveldb-dev zlib1g-dev libtinfo-dev libsodium-dev
        - sudo cp /usr/lib/x86_64-linux-gnu/libsodium.so.13 /usr/lib/x86_64-linux-gnu/libsodium.so.18
        - sudo modprobe fuse
        - sudo chmod 666 /dev/fuse
        - sudo chown root:$USER /etc/fuse.conf
        - sudo ./build/install-constellation-linux.sh
        - export PATH=$PATH:$(pwd)/constellation-0.3.2-ubuntu1604
        - go run build/ci.go install
        - go run build/ci.go test -coverage

    - os: osx
      go: 1.10.x
      script:
        - unset -f cd # workaround for https://github.com/travis-ci/travis-ci/issues/8703
        - brew update
        - brew cask install osxfuse
        - brew install berkeley-db leveldb libsodium haskell-stack
        - ./build/install-constellation-mac.sh
        - go run build/ci.go install
        - go run build/ci.go test -coverage $TEST_PACKAGES

    # This builder only tests code linters on latest version of Go
    - os: linux
      dist: trusty
      go: 1.10.x
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        - go run build/ci.go lint

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/e09ccdce1048c5e03445
    on_success: change
    on_failure: always